// Может быть когда-то нужно будет импортнуть локально эти шрифты
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@import "variables";
@import 'bootstrap';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Montserrat, sans-serif !important;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #131313;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @apply font-medium text-black hover:text-primary-dark-yellow;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

input {
  @apply outline-none focus:outline-primary-yellow;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  @apply transform transition-all duration-300 ease-in-out;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.max-w-md {
  max-width: 50%;
}

.cstm-sliderover {
  top: 12%;
}
